<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Rincón del Gourmet - Login</title>
    <link rel="stylesheet" href="gourmet inicio sesion.css">
</head>
<body>
    <div class="login-container">
        <img src="FON/logo.jpg" alt="El Rincón del Gourmet" class="logo">
        <h2>Te damos la bienvenida</h2>
        <p>Regístrate para disfrutar de la mejor comida</p>
        <h3>El Rincón Gourmet</h3>
        <p class="rockwell">Donde cada bocado es una experiencia</p>
        <form>
            <input type="email" id="username" name="username" placeholder="Correo Electrónico" value="santiagoperdomoangulo67@gmail.com" required>
            <input type="password" id="password" name="password" placeholder="Contraseña" required>
            <a href="#" class="forgot-password">¿Olvidaste tu Contraseña?</a>
            <button type="submit" style="background-color: #d13434; border: none; padding: 10px 20px; cursor: pointer;">
                <a href="pagina principal.html" style="color: white; text-decoration: none; display: block;">Ingresar</a>
            </button>
        </form>
        <p class="register">¿Si aún no tienes cuenta? <a href="Formulario de registro.html">Regístrate</a></p>
    </div>
</body>
</html>