body {
    font-family: Arial, sans-serif;
    background-color: #800000;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url(fondo\ formulario\ .jpg);
}

section {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #990000; /* Un rojo más claro para diferenciar del fondo */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="date"] {
    background-color: white;
    color: black;
}

input:focus {
    outline: none;
    border: 2px solid #d9534f;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
}

.registrate {
    text-align: center;
    margin-top: 20px;
}

.registrate a {
    display: inline-block;
    padding: 12px 25px;
    background-color: #d9534f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    transition: background 0.3s ease-in-out;
}

.registrate a:hover {
    background-color: #c9302c;
    transform: scale(1.05);
}
