body {
  background-color: #a0192f;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: url(Fondo\ .jpg);
}

.login-container {
  width: 350px;
  background: white;
  padding: 20px;
  margin: 50px auto;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: black;
  text-align: center;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

h2, h3, p {
  margin: 10px 0;
}

.slogan {
  font-style: italic;
  font-size: 14px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  text-align: center;
}

button {
  background: #a0192f;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background: #7a1220;
}

.forgot-password, .register a {
  color:blue;
  text-decoration: none;
  font-size: 14px;
}

.register {
  margin-top: 10px;
}
